.container {
    background-color: #e2e2e2;
    padding: 10px;
    height: 100vw;
    
}
.item {
    background-color: tomato;
    padding: 5px;
    color: white;
}

 .container {
 display: grid;
 }
 
.container {
 
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: repeat(3, 1fr);
 }
 .container {
 
 grid-gap: 10px;
}
 .item img {
 width: 100%;
 height: auto;
 }
